@model IEnumerable<MVC_GIT.Models.Order>
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<h2>Order List</h2>
<table class="table text-center">
    <tr>
        <th class="text-center">

            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_hover">
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
        </tr>

    }

</table>  